<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5 ">
            <div class="card shadow-effect" [routerLink]="'/categories'">
                <div class="card-body text-center bg-secendry-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-list-ul"></i></h1>
                    <h2 class="text-theme-primary">category</h2>
                    <p>manage ur category here</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5 ">
            <div class="card shadow-effect" [routerLink]="'/posts'">
                <div class="card-body text-center bg-secendry-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-file-image"></i></h1>
                    <h2 class="text-theme-primary">posts</h2>
                    <p>manage ur posts here</p>
                </div>
            </div>
        </div>


        <div class="col-md-12 mb-5 ">
            <div class="card shadow-effect" [routerLink]="'/subscribers'">
                <div class="card-body text-center bg-secendry-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-users"></i></h1>
                    <h2 class="text-theme-primary">users</h2>
                    <p>manage users here</p>
                </div>
            </div>
        </div>

    </div>
</div>